<h1>Create New Surfboard</h1>

<%= form_tag "/surfboards" do  %>

<div>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
</div>

<div>
  <%= label_tag :feet %>
  <%= text_field_tag :feet %>
</div>

<div>
  <%= label_tag :inches %>
  <%= text_field_tag :inches %>
</div>

<div>
  <%= label_tag :color %>
  <%= text_field_tag :feet %>
</div>

<%= submit_tag "Create Surfboard" %>

<% end %>