<h1>Create New Surfboard</h1>

<%= form_tage "/surfboards" do  %>

<div>
<%= label_tage :name %>
<%= tet_field_tag :name %>
</div>

<div>
<%= label_tage :feet %>
<%= tet_field_tag :feet %>
</div>

<div>
<%= label_tage :inches %>
<%= tet_field_tag :inches %>
</div>

<div>
<%= label_tage :color %>
<%= tet_field_tag :feet %>
</div>

<% end %>