<h1>Update A Surfboard</h1>

<%= form_tag "/surfboards", method: :patch do %>

<div>
  <%= label_tage :name %>
  <%= tet_field_tag :name %>
</div>

<div>
  <%= label_tage :feet %>
  <%= tet_field_tag :feet %>
</div>

<div>
  <%= label_tage :inches %>
  <%= tet_field_tag :inches %>
</div>

<div>
  <%= label_tage :color %>
  <%= tet_field_tag :feet %>
</div>

<%= submit_tag "Update Surfboard" %>

<% end %>